# temporary backups
*~
*.backup

# temporary (La)TeX files
*.aux
*.log
*.bbl
*.blg
*.dvi
*.ist
*.glo
*.gls
*.glg
*.toc
*.out
*.idx
*.ilg
*.ind

# package file
tkz-orm.zip

# example sources
examples/*.tex

# temporary directory
newxamples
