# temporary backups
*~
*.backup

# temporary (La)TeX files
*.aux
*.glo
*.idx
*.fdb_latexmk
*.fls
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.swp
*.synctex.gz

# examples
examples/*.png
examples/*.pdf
